.root {
  border-radius: 6px;
  font-weight: 600;
  display: flex;
  gap: 4px;
  align-items: center;
  background-color: red;
}

.sizeSm {
  font-size: 12px;
  padding: 4px 8px;
}
.sizeMd {
  font-size: 14px;
  padding: 6px 10px;
}
.sizeLg {
  font-size: 16px;
  padding: 8px 12px;
}

.spinner {
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.btn-create {
  background-color: #4caf50;
  color: #fff;
}

.btn-save {
  background-color: #0989ff;
  color: #fff;
}

.btn-edit {
  background-color: #0e9de0;
  color: #fff;
}

.btn-delete {
  background-color: #ff595e;
  color: #fff;
}

.btn-import {
  background-color: #0989ff;
  color: #fff;
}

.btn-export {
  background-color: #f77f35;
  color: #fff;
}

.hoverOpacity:hover {
  opacity: 0.9;
}

.hoverOpacity:active {
  opacity: 1;
}

.hoverScaleOut {
  transition: transform 0.05s ease-in-out;
}

.hoverScaleOut:hover {
  transform: scale(1.03);
}

.hoverScaleOut:active {
  transform: scale(1);
}

.hoverScaleIn {
  transition: transform 0.05s ease-in-out;
}

.hoverScaleIn:hover {
  transform: scale(0.97);
}

.hoverScaleIn:active {
  transform: scale(1);
}
